#!/usr/bin/env bash

export SANDBOX_HOSTNAME=${SANDBOX_HOSTNAME:-sunbird-rc.sandbox.net}
export ODK_HOSTNAME=${ODK_HOSTNAME:-odk.$SANDBOX_HOSTNAME}

NS=odk
VERSION=1.2.0

helm repo add sunbird-rc https://sunbird-rc.github.io/sunbird-rc-helm
helm repo update

echo Create $NS namespace
kubectl create ns $NS

./copy_secrets.sh

helm -n $NS upgrade --install odk-central sunbird-rc/odk-central \
    --version ${VERSION} \
    --set global.hostname=$ODK_HOSTNAME \
    --wait $@
