apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: filestorage
spec:
  gateways:
    - istio-system/all-hosts
  hosts:
    - sbrc.iam.{{domain}}
  http:
    - route:
        - destination:
            host: keycloak
            port:
              number: 8080
      headers:
        request:
          set:
            x-forwarded-proto: https